body{
    width: auto;
    padding: 0 100px 0 100px;
 
  
}
nav{
    display: flex;   
    border:5px solid red;

}
li{
    border: black solid 1px;
    list-style: none;  
}
.items{
    padding-right: 30px;

}

.logo{
    margin-right: auto;

}


img{
    border: blue solid 5px;
    width: 50%;
    height: 100%;
   

}
